@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.back {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .title {
      text-align: center;
      color: rgb(210, 228, 230);
      font-family: 'Staatliches', cursive;
      font-size: 2.5em;
  }

  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 45%;
    padding: 20px;
    width: 65vh;
  }

  .sign {
    background-color: #0f3772;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 1em;
    height: 50px;
    padding: 3%;
    text-align: center;
    width: 45%;
    text-decoration: none;
  }
  .sign:hover{
    background-color: #144286;
  }
  .log {
    display: flex;
    justify-content: center;
   
    margin: 0 ;
    background-color: #218d5a;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 1em;
    height: 50px;
    padding: 3%;
    width: 45%;
    text-decoration: none;
  }
  .log:hover{
    background-color: #1b9b74;
  }



